@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius: 0.5rem;
  --font-sans: "Inter", "SF Pro Display", -apple-system, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", "Geist Mono", ui-monospace, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 10%);
  --card: hsl(210 5% 96%);
  --card-foreground: hsl(0 0% 10%);
  --popover: hsl(210 20% 99%);
  --popover-foreground: hsl(0 0% 10%);
  --primary: hsl(234 58% 62%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(220 7% 97%);
  --secondary-foreground: hsl(0 0% 10%);
  --muted: hsl(220 7% 97%);
  --muted-foreground: hsl(220 8% 46%);
  --accent: hsl(234 58% 60%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 72% 51%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(240 5% 89%);
  --input: hsl(240 5% 89%);
  --ring: hsl(234 56% 61%);
}

.dark {
  --background: hsl(222 20% 0.4%);
  --foreground: hsl(225 14% 97%);
  --card: hsl(210 5% 6%);
  --card-foreground: hsl(225 14% 97%);
  --popover: hsl(220 5% 10%);
  --popover-foreground: hsl(225 14% 97%);
  --primary: hsl(234 58% 62%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 5% 8%);
  --secondary-foreground: hsl(225 14% 97%);
  --muted: hsl(210 3% 10%);
  --muted-foreground: hsl(220 10% 56%);
  --accent: hsl(234 58% 60%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 62% 50%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(225 9% 16%);
  --input: hsl(225 9% 16%);
  --ring: hsl(234 56% 61%);
}

/* shadcn base styles */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
